<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title color="primary" size="large">Restaurantes</ion-title>
      <ion-buttons slot="end">
        <ion-button *ngIf="isAdmin" [routerLink]="['/restaurants/new']" color="success" fill="solid">
          Nuevo Restaurante
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let restaurant of restaurants" class="product-item">
      <ion-label (click)="openDetailsModal(restaurant)">
        <h2>{{ restaurant.name }}</h2>
        <p>Telefono: ${{ restaurant.phone }}</p>
        <p>Direccion: {{ restaurant.address }}</p>
        <p>Created At: {{ restaurant.createdAt | date: 'short' }}</p>
        <p>Updated At: {{ restaurant.updatedAt | date: 'short' }}</p>
      </ion-label>
      <ion-button color="secondary" fill="clear" (click)="openGoogleMaps(restaurant.address)">Ir a Google Maps</ion-button>
      <ion-button *ngIf="isAdmin" [routerLink]="['/restaurants', restaurant.id]" color="tertiary" fill="clear">
        Actualizar Restaurante
      </ion-button>
      <ion-button *ngIf="isAdmin" (click)="deleteRestaurant(restaurant.id)" color="danger" fill="clear">
        Borrar Restaurante
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
