<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" color="primary">Productos</ion-title>
      <ion-buttons slot="end">
        <ion-button *ngIf="isWorker" [routerLink]="['/products/new']" color="success" fill="solid">
          Nuevo Producto
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let product of products" class="product-item">
      <ion-label (click)="openDetailsModal(product)">
        <h2>{{ product.name }}</h2>
        <p>Precio: ${{ product.price }}</p>
        <p>Stock: {{ product.stock }}</p>
        <p>Gluten: {{ product.gluten ? 'Yes' : 'No' }}</p>
        <p>Categoria: {{ product.category.name }}</p>
        <div class="rating">
          <p>Valoracion:</p>
          <ion-icon *ngFor="let star of [1, 2, 3, 4, 5]"
                    [name]="star <= (product.averageRating ? product.averageRating : 5 )? 'star-sharp' : 'star-outline'">
          </ion-icon>
        </div>
        <p>Creado: {{ product.createdAt | date: 'short' }}</p>
        <p>Actualizado: {{ product.updatedAt | date: 'short' }}</p>
      </ion-label>
      <ion-button *ngIf="isWorker" [routerLink]="['/products', product.id]" color="tertiary" fill="clear">
        Actualizar Producto
      </ion-button>
      <ion-button *ngIf="isAdmin" (click)="deleteProduct(product.id)" color="danger" fill="clear">
        Borrar Producto
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
