.product-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dcdcdc;
  padding: 16px 0;
}

.product-item h2 {
  font-size: 18px;
  margin: 0;
  color: var(--ion-color-primary);
}

.product-item p {
  margin: 4px 0;
  color: #555;
}

.product-item p span {
  font-weight: bold;
}
.rating {
  display: flex;
  align-items: center;
  margin-top: 8px;

  p {
    margin: 0;
    margin-right: 8px;
  }

  ion-icon {
    font-size: 24px;
    color: #FFD700;
    margin-right: 2px;
  }
}
/* Estilos para el precio original tachado */
.original-price {
  text-decoration: line-through;
  color: red; /* Opcional: puedes elegir otro color */
}

/* Estilos para el precio rebajado */
.offer-price {
  color: green; /* Opcional: puedes elegir otro color */
}


.options {
  margin: 0;
  display: flex;
}

.buscador {
  text-align: left;
}
