ion-button .cerrar {
  color: white; /* Cambia 'white' por el color deseado */
}
.rating {
  ion-icon {
    color: #FFD700;
  }
}
/* Estilos para el precio original tachado */
.original-price {
  text-decoration: line-through;
  color: red; /* Opcional: puedes elegir otro color */
}

/* Estilos para el precio rebajado */
.offer-price {
  color: green; /* Opcional: puedes elegir otro color */
}
