<!--Proyectos-->

<ion-list class="ion-margin-top" id="proyectos">

  <ion-list-header class="ion-padding-horizontal">
    <h2>Proyectos: <span class="nota">Trabajos principales que he desarrollado</span></h2>
  </ion-list-header>

  <app-trabajos></app-trabajos>
</ion-list>

<!--Contacto-->
<ion-list class="ion-margin-top" id="contacto">

  <ion-list-header class="ion-padding-horizontal">
    <h2>Contacto: <span class="nota">Si quieres contactar conmigo</span></h2>
  </ion-list-header>

  <ion-item-group class="contactItemGroup">

    <ion-item class="contactItem">
      <ion-input id="gmail" value="diegotorresmijarra@gmail.com" [readonly]="true">
        <div class="ion-padding contactLabel" slot="label">
          <ion-icon class="ion-padding-end" name="mail-outline"></ion-icon>
          Email:
        </div>
      </ion-input>
      <ion-button id="copyButtonEmail" class="ion-padding-start" size="middle"
                  (click)="writeToClipboard('diegotorresmijarra@gmail.com')">

        <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
        <ion-popover trigger="copyButtonEmail" side="right" alignment="end" [showBackdrop]="false">
          <ng-template>
            <ion-item class="copied">Copiado!</ion-item>
          </ng-template>
        </ion-popover>
      </ion-button>
      <ion-button size="middle" href="mailto:diegotorresmijarra@gmail.com">
        <ion-icon slot="icon-only" name="send-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item class="contactItem ion-margin-start">
      <ion-input id="gitHub" value="DiegoTorresMijarra" [readonly]="true">
        <div class="ion-padding contactLabel" slot="label">
          <ion-icon class="ion-padding-end" name="logo-github"></ion-icon>
          GitHub:
        </div>
      </ion-input>
      <ion-button id="copyButtonGH" class="ion-padding-start" size="middle"
                  (click)="writeToClipboard('DiegoTorresMijarra')">

        <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
        <ion-popover trigger="copyButtonGH" side="right" alignment="end" [showBackdrop]="false">
          <ng-template>
            <ion-item class="copied">Copiado!</ion-item>
          </ng-template>
        </ion-popover>
      </ion-button>
      <ion-button size="middle" href="https://github.com/DiegoTorresMijarra">
        <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item class="contactItem ion-margin-start">
      <ion-input id="LinkedIn" value="Diego Torres Mijarra" [readonly]="true">
        <div class="ion-padding contactLabel" slot="label">
          <ion-icon class="ion-padding-end" name="logo-linkedin"></ion-icon>
          LinkedIn:
        </div>
      </ion-input>
      <ion-button id="copyButtonLk" class="ion-padding-start" size="middle"
                  (click)="writeToClipboard('Diego Torres Mijarra')">

        <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
        <ion-popover trigger="copyButtonLk" side="right" alignment="end" [showBackdrop]="false">
          <ng-template>
            <ion-item class="copied">Copiado!</ion-item>
          </ng-template>
        </ion-popover>
      </ion-button>
      <ion-button size="middle" href="https://www.linkedin.com/in/diego-torres-mijarra/">
        <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-item-group>
</ion-list>
