<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title color="primary" size="large">Nueva Valoracion</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <form [formGroup]="evaluationForm" (ngSubmit)="onSubmit()">

      <ion-item>
        <ion-label position="floating">Producto</ion-label>
        <ion-select formControlName="productId">
          <ion-select-option *ngFor="let product of products" [value]="product.id">
            {{ product.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger" *ngIf="evaluationForm.get('productId')?.touched && evaluationForm.get('productId')?.errors?.['min']">
        <ion-note *ngIf="evaluationForm.get('productId')?.errors?.['min']">El id del producto debe ser mayor que 0.</ion-note>
      </ion-text>

      <ion-item>
        <ion-label>Valoración</ion-label>
        <ion-range formControlName="valoracion" min="0" max="5" step="1" snaps="true">
          <ion-label slot="start" class="star-label">
            <ion-icon name="star-sharp"></ion-icon>
          </ion-label>
          <ion-label slot="end" class="star-label">
            <ion-icon name="star-sharp"></ion-icon>
          </ion-label>
        </ion-range>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="evaluationForm.invalid">Guardar Valoracion</ion-button>
    </form>
  </ion-content>
</ion-content>
