<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" color="primary">Pedidos</ion-title>
      <ion-buttons slot="end">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let order of orders | paginate:currentOrderPage:pageOrderSize" class="order-item"
              (click)="openDetailsModal(order)">
      <ion-label>
        <h2>Pedido: <a [routerLink]="['/orders/details/' + order.id]" (click)="dismissModal()">{{ order.id }}</a></h2>
        <p>Usuario: {{ getUserName(order.userId) }}</p>
        <p>Restaurante: {{ getRestaurantName(order.restaurantId) }}</p>
        <p>Direccion: <a [routerLink]="['/addresses/details/' + order.addressesId]" (click)="dismissModal()">{{ getAddressName(order.addressesId) }}</a></p>
        <ion-item *ngFor="let orderedProduct of order.orderedProducts" class="order-item">
            <ion-label>
              <h2>{{ getProductName(orderedProduct.productId) }}</h2>
              <p>Precio del producto: {{ orderedProduct.productPrice}}€</p>
              <p>Cantidad: {{ orderedProduct.quantity}}</p>
              <p>Precio Total: {{ orderedProduct.totalPrice}}€</p>
            </ion-label>
        </ion-item>
        <p>Cantidad Total: {{ order.totalQuantityProducts }}</p>
        <p>Precio Total: {{ order.totalPrice }}</p>
        <p>Pagado: {{ order.isPaid ? 'Si' : 'No' }}</p>
        <p>Estado: {{ order.state }}</p>
        <p>Creado: {{ order.createdAt | date: 'short' }}</p>
        <p>Actualizado: {{order.updatedAt | date: 'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-toolbar>
      <ion-title class="ion-align-items-start" slot="start">Pagina: {{ currentOrderPage }} de {{ Math.ceil(orders.length / pageOrderSize) }}</ion-title>
      <ion-buttons slot="end">
        <ion-button [disabled]="currentOrderPage <= 1" (click)="changeOrderPage(currentOrderPage - 1)">
          Anterior
        </ion-button>
        <ion-button [disabled]="(orders.length / pageOrderSize) <= currentOrderPage" (click)="changeOrderPage(currentOrderPage + 1)">
          Siguiente
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
