.order-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dcdcdc;
  padding: 16px 0;
}

.order-item h2 {
  font-size: 18px;
  margin: 0;
  color: var(--ion-color-primary);
}

.order-item p {
  margin: 4px 0;
  color: #555;
}

.order-item p span {
  font-weight: bold;
}
/* Estilos para los botones */
ion-button {
  --border-radius: 25px; /* Redondeado los bordes de los botones */
  --background: var(--ion-color-primary); /* Color de fondo del bot贸n */
  --color: #fff; /* Color del texto del bot贸n */
  --padding-start: 20px; /* Aumentado el espacio interno izquierdo */
  --padding-end: 20px; /* Aumentado el espacio interno derecho */
}

ion-button:hover {
  --background: #4285F4; /* Cambiado el color de fondo al pasar el rat贸n */
}

ion-button[fill="clear"] {
  --background: transparent; /* Botones transparentes */
  --color: var(--ion-color-primary); /* Color de texto */
  --border-width: 1px; /* Ancho del borde */
  --border-color: var(--ion-color-primary); /* Color del borde */
}

ion-button[fill="clear"]:hover {
  --background: rgba(0, 0, 0, 0.1); /* Color de fondo al pasar el rat贸n */
}

@media (min-width: 0px) {
  ion-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .order-item {
    width: 90%;
    ion-item {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .order-item {
    width: 45%;
  }
}


